/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
/* Remover o highlith azul dos itens */
html{
    -webkit-tap-highlight-color: transparent;
}
/* Header */
#cabecalho{
    background-color: white;
    transition: .3s;
    padding: 10px 0px;
}
#cabecalho .container-header{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cabecalho .container-header img{
    width: 200px;
}
/* Menu */
#navbar #menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#navbar #menu li a{
    display: inline-block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;
    font-weight: bold;
}
#navbar #menu li a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;   
}
/* Menu mobile*/
#btn-mobile{
    display: none;
}
/* Banner */
#main-banner{
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
#main-banner::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#main-banner .container-banner{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-banner .container-banner .banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#main-banner .container-banner .banner-info h1{
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: white;
}
#main-banner .container-banner .banner-info h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}
#main-banner .container-banner .banner-info .btn{
    text-decoration: none;
    background-color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 8px;
    transition: .3s;
    border: 1px solid black;
}
#main-banner .container-banner .banner-info .btn:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
/* Conheça o hotel */
#conheca-hotel{
    padding-top: 100px;
    padding-bottom: 100px;
    transition: .3s;
}
#conheca-hotel .container-conheca{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#conheca-hotel .container-conheca h3{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #191c03;
}
#conheca-hotel .container-conheca p{
    color: #191c03;
    margin-bottom: 30px;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
}
#conheca-hotel .container-conheca hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 20px;
    border: none;
}
#conheca-hotel .container-conheca .grid{
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#conheca-hotel .container-conheca .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
#conheca-hotel .container-conheca .grid li.small{
    flex-basis: 50%;
}
#conheca-hotel .grid li.large{
    flex-basis: 50%;
}
/* caracteristicas */
#caracteristicas{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #191c03;
    transition: .3s;
}
#caracteristicas .container-cara{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#caracteristicas .container-cara h3{
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
#caracteristicas .container-cara p{
    color: white;
    margin-bottom: 20px;
}
#caracteristicas .container-cara hr{
    width: 200px;
    height: 2px;
    background-color: white;
    margin-bottom: 50px;
    border: none;
}
#caracteristicas .container-cara .grid{
    width: 100%;
    list-style: none;
    display: flex;
}
#caracteristicas .container-cara .grid li{
    padding: 0 15px;
    text-align: center;
}
#caracteristicas .container-cara .grid li i{
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
#caracteristicas .container-cara .grid li h4{
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 20px;
}
#caracteristicas .container-cara .grid li p{
    color: white;
}
/* Email */
#email{
    padding: 100px 0px;
    transition: .3s;
}
#email .container-email{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#email .container-email h3{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #c3c63b;
}
#email .container-email p{
    color: #c3c63b;
    margin-bottom: 20px;
}
#email .container-email hr{
    width: 200px;
    height: 2px;
    background-color: #c3c63b;
    margin-bottom: 50px;
    border: none;
}
#email .container-email form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
#email form input{
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 5px;
    margin-right: 1%;
    flex: 1;
}
#email form button{
    padding: 15px;
    background-color: #c3c63b;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
/* Footer */
#footer{
    background-color: #191c03;
    padding: 50px 0px;
    transition: .3s;
}
#footer .container-footer{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#footer .container-footer ul{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    gap: 1rem;
}
#footer .container-footer ul li a{
    color: #c3c63b;
    font-size: 2rem;
}
#footer .container-footer p{
    color: #c3c63b;
}

/* Responsividade - 780px */
@media(max-width: 780px){
    #cabecalho{
        padding: 10px 0px;
    }
    #cabecalho .container-header{
        width: 95%;
    }
    /* Menu Mobile */
    #menu{
        position: absolute;
        width: 50%;
        top: 69px;
        left: -390px;
        background: white;
        height: 100%;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        flex-direction: column;
        z-index: 10000;
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    #navbar.active #menu{
        left: 0;
        visibility: visible;
    }
    #navbar #menu li a{
        display: block;
        padding: 20px;
        font-size: 1.5rem;
    }
    #navbar #menu li a:hover{
        border-radius: 0px;   
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: black;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #navbar.active #hamburger{
        border-top-color: transparent;
    }
    #navbar.active #hamburger::before{
        transform: rotate(135deg);
    }
    #navbar.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    /* Banner */
    #main-banner{
        transition: .3s;
    }
    #main-banner .container-banner{
        width: 95%;
        text-align: center;
    }
    #main-banner .container-banner .banner-info{
        width: 95%;
    }
    #main-banner .container-banner .banner-info h1{
        font-size: 2rem;
    }
    #main-banner .container-banner .banner-info h2{
        font-size: 1.3rem;
    }
    #main-banner .container-banner .banner-info .btn{
        font-size: 1.2rem;
    }
    /* Conheça o hotel */
    #conheca-hotel .container-conheca{
        width: 95%;
    }
    #conheca-hotel .container-conheca h3{
        font-size: 1.8rem;
    }
    #conheca-hotel .container-conheca p{
        font-size: 1.1rem;
    }
    #conheca-hotel .container-conheca hr{
        width: 180px;
    }
    #conheca-hotel .container-conheca .grid li{
        padding: 10px;
    }
    /* caracteristicas */
    #caracteristicas .container-cara{
        width: 95%;
        text-align: center;
    }
    #caracteristicas .container-cara h3{
        font-size: 1.8rem;
    }
    #caracteristicas .container-cara hr{
        width: 180px;
    }
    #caracteristicas .container-cara .grid li i{
        font-size: 3rem;
    }
    #caracteristicas .container-cara .grid li h4{
        font-size: 1.3rem;
    }
    #caracteristicas .container-cara .grid li p{
        font-size: 0.9rem;
    }
    /* Email */
    #email .container-email{
        width: 95%;
    }
    #email .container-email h3{
        font-size: 1.8rem;
    }
    #email .container-email hr{
        width: 180px;
    }
    #email form input{
        padding: 10px;
    }
    #email form button{
        padding: 10px;
    }
    /* Footer */
    #footer .container-footer{
        width: 95%;
    }
    #footer .container-footer ul li a{
        font-size: 1.8rem;
    }
    #footer .container-footer p{
        font-size: 1rem;
    }

    /* Responsividade - 450px */

    /* Responsividade - 375px */
    @media(max-width:375px){
        /* cabecalho */
        #cabecalho .container-header img{
            width: 170px;
        }
        /* Menu Mobile */
        #menu{
            top: 62px;
        }
        #navbar #menu li a{
            padding: 10px;
            font-size: 1.4rem;
        }
        /* Banner */
        #main-banner .container-banner .banner-info h1{
            font-size: 1.5rem;
        }
        #main-banner .container-banner .banner-info h2{
            font-size: 1.1rem;
            width: 90%;
        }
        #main-banner .container-banner .banner-info .btn{
            font-size: 1.1rem;
        }
        /* Conheça o hotel */
        #conheca-hotel .container-conheca h3{
            font-size: 1.5rem;
        }
        #conheca-hotel .container-conheca p{
            font-size: 1rem;
            width: 100%;
        }
        #conheca-hotel .container-conheca hr{
            width: 150px;
        }
        #conheca-hotel .container-conheca .grid li{
            height: 300px;
            padding: 10px;
        }
        #conheca-hotel .container-conheca .grid li.small{
            flex-basis: 100%;
        }
        #conheca-hotel .grid li.large{
            flex-basis: 100%;
        }
        /* caracteristicas */
        #caracteristicas .container-cara h3{
            font-size: 1.5rem;
        }
        #caracteristicas .container-cara p{
            font-size: 0.9rem;
        }
        #caracteristicas .container-cara hr{
            width: 150px;
        }
        #caracteristicas .container-cara .grid{
            flex-direction: column;
        }
        #caracteristicas .container-cara .grid li{
            padding: 0px;
            margin-bottom: 30px;
        }
        #caracteristicas .container-cara .grid li i{
            font-size: 2.5rem;
        }
        #caracteristicas .container-cara .grid li h4{
            font-size: 1.5rem;
        }
        #caracteristicas .container-cara .grid li p{
            font-size: 0.9rem;
        }    
        /* Email */
        #email .container-email{
            text-align: center;
        }
        #email .container-email h3{
            font-size: 1.5rem;
        }
        #email .container-email p{
            font-size: 1rem;
        }
        #email .container-email hr{
            width: 150px;
        }
        #email form input{
            margin-right: 0%;
            margin-bottom: 10px;
        }
        /* Footer */
        #footer .container-footer ul li a{
            font-size: 1.5rem;
        }
        #footer .container-footer p{
            font-size: 0.9rem;
            text-align: center;
        }
    }
}